<a href="https://colab.research.google.com/github/IamSVP94/Habidatum_task/blob/master/3week_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Корреляционный анализ

In [1]:
import pandas as pd

### 1

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

In [4]:
cities = pd.read_csv('https://d3c33hcgiwev3.cloudfront.net/_e0db75848e4faee78cb4812c792b6277_water.txt?Expires=1598227200&Signature=EewRLXE4JDroiBQjxJztOlmBUJhcXMHlpDC~SV6S5TcA0m0p2uzoX9PZr89zA3BUjPU7QaCd1bBpJkVNfmnvC6MT~LHbkgl7UBXQYJXsFpWHMG5uPwlCPebXeToeyjruaKiU26s73AUnO8LqGzF4hF3y9hjX84dCCKSfwPB1pEU_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A', sep='\t')
cities

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.